* {
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  height: 30px;
  width: 30px;
  outline: white;
}
